$label-margin: 8px;
$margin-base: 16px;
$margin-md: 12px;
$margin-xs: 4px;
$red-color: #fa5142;
$gray-color: #f8f8f8;
$gray-color-2: #bcbcbc;
$breakpoints: (
  xxs: 0,
  xs: 320px,
  sm: 375px,
  md: 768px,
  lg: 1024px,
  lg-x: 1054px,
  xl: 1280px,
  xxl: 1440px,
);

