.result-container {
  margin-top: 12px;
  overflow-x: auto;
}

.summary-price {
  text-align: right;
  font-weight: 600;
}

.finished-product-price {
  text-align: right;
  font-weight: bold;
}

.excel-export-btn {
  width: 200px;
  background: white;
  border: 1px solid $red-color;
  color: $red-color;
  transition: .2s;
  padding: 9px;
  display: flex;
  justify-content: center;

  & > span {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  &:hover {
    color: white;
    background: $red-color;
    cursor: pointer;
  }
}

.table-head {
  color: white;
  background: $red-color;
}

.link {
  color: black;

  &:visited {
    color: black;
  }
}
