.result-container {
  margin-top: $margin-md;
  overflow-x: auto;
}

.excel-export-btn {
  width: 200px;
  background: white;
  border: 1px solid $red-color;
  color: $red-color;
  transition: .2s;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $margin-xs;

  & > span {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  &:hover {
    color: white;
    background: $red-color;
    cursor: pointer;
  }

  &:disabled {
    color: $gray-color-2;
    border-color: $gray-color-2;
    cursor: not-allowed;
  }
}

.buttons-container {
  margin-bottom: calc($margin-md - $margin-xs);
}

.table-title {
  color: white;
  background: $red-color;
  text-align: left;
}

.table-head {
  color: black;
  background: $gray-color-2;
  text-align: left;
  font-weight: normal;
}

.link {
  color: black;

  &:visited {
    color: black;
  }
}
