.root {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.form {
  padding: 1rem;
  border: 1px solid $red-color;
  display: flex;
  gap: $margin-base;

  @include media-down(lg-x) {
    flex-direction: column;
  }
}

.summary-price {
  text-align: right;
  font-weight: 600;
}

.finished-product-price {
  text-align: right;
  font-weight: bold;
}

